#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: #04AA6D;
}
/* cyrillic-ext */
 @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFWJ0bbck.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFUZ0bbck.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFWZ0bbck.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFVp0bbck.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFWp0bbck.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFW50bbck.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
      .frame {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 400px;
          height: 400px;
          margin-top: -200px;
          margin-left: -200px;
          border-radius: 2px;
          box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
          background: #3A92AF;
          background: -webkit-linear-gradient(bottom left, #3A92AF 0%, #5CA05A 100%);
          background: -moz-linear-gradient(bottom left, #3A92AF 0%, #5CA05A 100%);
          background: -o-linear-gradient(bottom left, #3A92AF 0%, #5CA05A 100%);
          background: linear-gradient(to top right, #3A92AF 0%, #5CA05A 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3A92AF', endColorstr='#5CA05A', GradientType=1);
          color: #fff;
          font-family: 'Open Sans', Helvetica, sans-serif;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
      }
  
      .center {
          position: absolute;
          width: 300px;
          height: 300px;
          top: 70px;
          left: 50px;
          background: #fff;
          box-shadow: 8px 10px 15px 0 rgba(0, 0, 0, 0.2);
          border-radius: 3px;
      }
  
      .title {
          font-size: 16px;
          color: #676767;
          line-height: 50px;
          height: 50px;
          border-bottom: 1px solid #D8D8D8;
          text-align: center;
      }
  
      .dropzone {
          position: absolute;
          z-index: 1;
          box-sizing: border-box;
          display: table;
          table-layout: fixed;
          width: 100px;
          height: 80px;
          top: 86px;
          left: 100px;
          border: 1px dashed #A4A4A4;
          border-radius: 3px;
          text-align: center;
          overflow: hidden;
  
          &.is-dragover {
              border-color: #666;
              background: #eee;
          }
  
          .content {
              display: table-cell;
              vertical-align: middle;
          }
  
          .upload {
              margin: 6px 0 0 2px;
          }
  
          .filename {
              display: block;
              color: #676767;
              font-size: 14px;
              line-height: 18px;
          }
  
          .input {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              opacity: 0;
          }
  
      }
  
      .upload-btn {
          position: absolute;
          width: 140px;
          height: 40px;
          left: 80px;
          bottom: 24px;
          background: #6ECE3B;
          border-radius: 3px;
          text-align: center;
          line-height: 40px;
          font-size: 14px;
          box-shadow: 0 2px 0 0 #498C25;
          cursor: pointer;
          transition: all .2s ease-in-out;
  
          &:hover {
              box-shadow: 0 2px 0 0 #498C25, 0 2px 10px 0 #6ECE3B;
          }
      }
  
      .bar {
          position: absolute;
          z-index: 1;
          width: 300px;
          height: 3px;
          top: 49px;
          left: 0;
          background: #6ECE3B;
          transition: all 3s ease-out;
          transform: scaleX(0);
          transform-origin: 0 0;
  
          &.active {
              transform: scaleX(1) translate3d(0, 0, 0);
          }
      }
  
      .syncing {
          position: absolute;
          top: 109px;
          left: 134px;
          opacity: 0;
  
          &.active {
              animation: syncing 3.2s ease-in-out;
          }
      }
  
      .done {
          position: absolute;
          top: 112px;
          left: 132px;
          opacity: 0;
  
          &.active {
              animation: done .5s ease-in 3.2s;
              animation-fill-mode: both;
          }
      }
  
      @keyframes syncing {
          0% {
              transform: rotate(0deg);
          }
  
          10% {
              opacity: 1;
          }
  
          90% {
              opacity: 1;
          }
  
          100% {
              transform: rotate(360deg);
              opacity: 0;
          }
      }
  
      @keyframes done {
          from {
              opacity: 0;
          }
  
          to {
              opacity: 1;
          }
      }